{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_vitrinadb/cards/course

    This template renders the template content area for a resource.

    Example context (json):
    {
        "id": 1,
        "fullname": "Course name",
        "shortname": "Course short name",
        "summary": "Course summary",
        "category": "Category name",
        "imagepath": "http://example.com/image.jpg",
        "active": true,
        "premium": true,
        "fee": true,
        "formatedcost": "$ 100.00",
        "baseurl": "http://example.com",
        "hascart": false,
        "hasrating": false,
        "rating": {
            "percent": 100
        },
        "opendetailstarget": "_blank"
    }
}}

<div class="coursebox coursecategory-{{category}} state-{{#active}}active{{/active}}{{^active}}waiting{{/active}} {{#premium}}type-premium{{/premium}}{{#completed}} coursecompleted{{/completed}}" {{#imagepath}}style="background-image: url({{imagepath}});"{{/imagepath}}>

    {{#pinned}}
    <div class="vitrinadb-pin-badge" style="left:4px;top:4px;width:30px;" title="{{#str}}pinnedlabel, block_vitrinadb{{/str}}" aria-label="{{#str}}pinnedlabel, block_vitrinadb{{/str}}">
        <i class="icon fa fa-thumbtack fa-fw" aria-hidden="true"></i>
    </div>
    {{/pinned}}
    {{#isprime}}
    <div class="vitrinadb-prime-badge" style="left:4px;top:4px;width:30px;" title="{{#str}}primelabel, block_vitrinadb{{/str}}" aria-label="{{#str}}primelabel, block_vitrinadb{{/str}}">
        <i class="icon fa fa-certificate fa-fw" aria-hidden="true"></i>
    </div>
    {{/isprime}}
    {{#ishidden}}
    <div class="vitrinadb-hide-badge" style="right:4px;top:4px;width:30px;" title="{{#str}}hidelabel, block_vitrinadb{{/str}}" aria-label="{{#str}}hidelabel, block_vitrinadb{{/str}}">
        <i class="icon fa fa-eye-slash fa-fw" aria-hidden="true"></i>
    </div>
    {{/ishidden}}

    {{#hasrating}}
        {{#rating}}
        <div class="vitrina-ranking-stars" title="{{title}}">
            <div class="vitrina-ranking-stars-bar" style="width: {{percent}}%;"></div>
            {{#pix}}stars_empty, block_vitrinadb{{/pix}}
        </div>
        {{/rating}}
    {{/hasrating}}

    <div class="content-initial">

        <h6 title="{{{fullname}}}">{{{fullname}}}</h6>

        {{#ispending}}
            <div class="vitrinadb-pending-approval">
                <div class="vitrinadb-pending-approval-icon" title="{{#str}}pendinglabel, block_vitrinadb{{/str}}" aria-label="{{#str}}pendinglabel, block_vitrinadb{{/str}}">
                    <i class="icon fa fa-clock-o fa-fw" aria-hidden="true"></i>
                </div>
                <div class="vitrinadb-pending-approval-text">
                    {{#str}}pendinglabel, block_vitrinadb{{/str}}
                </div>
            </div>
        {{/ispending}}

        {{#fee}}
            <div class="coursefee">
                <div class="feeinfo">
                    {{#str}} feeinfoinlist, block_vitrinadb, {{formatedcost}} {{/str}}
                </div>
                {{#hascart}}
                    {{> block_vitrinadb/cartbutton}}
                {{/hascart}}
            </div>
        {{/fee}}
        {{#hasprogress}}
            <div class="course-progress">
                <div class="course-progress-bar" style="width: {{progress}}%;"></div>
                <span>{{#str}}completepercent, block_vitrinadb, {{progress}}{{/str}}</span>
            </div>
        {{/hasprogress}}

        <div class="content-fullinfo">
            <a  title="{{{shortname}}}" class="content-fullinfo-innerlink" href="{{{baseurl}}}/blocks/vitrinadb/detail.php?id={{{id}}}" target="{{opendetailstarget}}">
                <div class="coursesummary">
                    {{{summary}}}
                </div>
            </a>
            <a  title="{{{shortname}}}" class="coursebtn submit btn btn-primary" href="{{{baseurl}}}/blocks/vitrinadb/detail.php?id={{{id}}}" target="{{opendetailstarget}}">
                <span class="get_stringlink">{{# str }} showmore, block_vitrinadb {{/ str }}</span>
            </a>
        </div>

    </div>
    {{^active}}
        <div class="waiting-label">{{#str}}waiting, block_vitrinadb{{/str}}</div>
    {{/active}}
</div>
