{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_vitrinadb/course

    This template renders the template content area for a resource.

    Example context (json):
    {
        "id": 1,
        "fullname": "Course name",
        "shortname": "Course short name",
        "summary": "Course summary",
        "category": "Category name",
        "imagepath": "http://example.com/image.jpg",
        "active": true,
        "premium": true,
        "fee": true,
        "formatedcost": "$ 100.00",
        "baseurl": "http://example.com",
        "hascart": false,
        "hasrating": false,
        "rating": {
            "percent": 100
        },
        "opendetailstarget": "_blank"
    }
}}

<div class="panel panel-default coursebox coursecategory-{{category}} state-{{#active}}active{{/active}}{{^active}}waiting{{/active}} {{#premium}}type-premium{{/premium}}{{#completed}} coursecompleted{{/completed}}">
    {{#pinned}}
    <div class="vitrinadb-pin-badge" title="{{#str}}pinnedlabel, block_vitrinadb{{/str}}" aria-label="{{#str}}pinnedlabel, block_vitrinadb{{/str}}">
        <i class="icon fa fa-thumbtack fa-fw" aria-hidden="true"></i>
    </div>
    {{/pinned}}
    {{#isprime}}
    <div class="vitrinadb-prime-badge" title="{{#str}}primelabel, block_vitrinadb{{/str}}" aria-label="{{#str}}primelabel, block_vitrinadb{{/str}}">
        <i class="icon fa fa-certificate fa-fw" aria-hidden="true"></i>
    </div>
    {{/isprime}}
    {{#ishidden}}
    <div class="vitrinadb-hide-badge" title="{{#str}}hidelabel, block_vitrinadb{{/str}}" aria-label="{{#str}}hidelabel, block_vitrinadb{{/str}}">
        <i class="icon fa fa-eye-slash fa-fw" aria-hidden="true"></i>
    </div>
    {{/ishidden}}
    <a class="courseimage-link" title="{{summarytitle}}" href="{{{baseurl}}}/blocks/vitrinadb/detail.php?id={{{id}}}" target="{{opendetailstarget}}">
        <div class="courseimage" {{#imagepath}}style="background-image: url({{imagepath}});"{{/imagepath}}>
            {{#hassummary}}
                <div class="course_description" style="display: none;">
                    {{{summary}}}
                </div>
            {{/hassummary}}
        </div>
    </a>
    <div class="panel-heading">
    </div>
    <div class="panel-body clearfix">
        <a class="course-subject" title="{{{fullname}}}" href="{{{baseurl}}}/blocks/vitrinadb/detail.php?id={{{id}}}">
            {{{fullname}}}
        </a>
        {{#ispending}}
            <div class="vitrinadb-pending-approval">
                <div class="vitrinadb-pending-approval-icon" title="{{#str}}pendinglabel, block_vitrinadb{{/str}}" aria-label="{{#str}}pendinglabel, block_vitrinadb{{/str}}">
                    <i class="icon fa fa-clock-o fa-fw" aria-hidden="true"></i>
                </div>
                <div class="vitrinadb-pending-approval-text">
                    {{#str}}pendinglabel, block_vitrinadb{{/str}}
                </div>
            </div>
        {{/ispending}}
        {{#fee}}
            <div class="coursefee">
                <div class="feeinfo">
                    {{#str}} feeinfoinlist, block_vitrinadb, {{formatedcost}} {{/str}}
                </div>
                {{#hascart}}
                    {{> block_vitrinadb/cartbutton}}
                {{/hascart}}
            </div>
        {{/fee}}
    </div>
    <div class="panel-foot clearfix">
        <div class="resource-footer">
            <div class="resource-footer-left">
                {{#sharefiletypelabel}}
                    <div class="resource-filetype">
                        <div class="resource-filetype-icon" {{#sharefiletitle}}title="{{sharefiletitle}}"{{/sharefiletitle}}>
                            <i class="icon fa {{sharefileicon}} fa-fw" aria-hidden="true"></i>
                        </div>
                        <div class="resource-filetype-text">
                            <div class="resource-filetype-label">{{sharefiletypelabel}}</div>
                            {{#hasrating}}
                                {{#rating}}
                                <div class="resource-filetype-rating">
                                    <div class="vitrina-ranking-stars" title="{{title}}">
                                        <div class="vitrina-ranking-stars-bar" style="width: {{percent}}%;"></div>
                                    </div>
                                </div>
                                {{/rating}}
                            {{/hasrating}}
                        </div>
                    </div>
                {{/sharefiletypelabel}}
            </div>
            <div class="resource-footer-right">
                {{#sharedbyname}}
                    <div class="resource-shareinfo">
                        {{#sharedbyavatar}}
                        <div class="resource-share-avatar">
                            <a href="{{baseurl}}/user/profile.php?id={{sharedbyid}}" target="_blank" rel="noopener noreferrer">
                                <img src="{{sharedbyavatar}}" alt="{{sharedbyname}}">
                            </a>
                        </div>
                        {{/sharedbyavatar}}
                        <div class="resource-share-text">
                            <div class="resource-share-name">
                                <a href="{{baseurl}}/blocks/vitrinadb/?view={{view}}&id={{instanceid}}&author={{sharedbyid}}" target="_blank" rel="noopener noreferrer">{{sharedbyname}}</a>
                            </div>
                            <div class="resource-share-divider"></div>
                            <div class="resource-share-days">{{shareddayslabel}}</div>
                        </div>
                    </div>
                {{/sharedbyname}}
            </div>
        </div>
    </div>
    {{^active}}
        <div class="waiting-label">{{#str}}waiting, block_vitrinadb{{/str}}</div>
    {{/active}}
</div>
